.login-form {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    .form-group {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        margin-bottom: 1.5rem;
        .form-error {
            color:red;
            font-size: 0.875rem;
        }
        label {
            margin-bottom: 0.5rem;
        }
        input {
            padding: 0.5rem 0.5rem;
        }
    }
}